$primary-500:#EC838F;
$primary-50:#FFE9EB;
$primary-600:#ED6F7E;
$primary-700:#EB586A;
$primary-100:#FCCED4;

$natural-500:#908C91;
$natural-900:#261E27;
$natural-800:#413A42;
$natural-500:#908C91;
$natural-600:#767177;
$natural-700:#5B555C;
$natural-900:#261E27;
$natural-400:#ABA8AC;

$grey-300:#ECECEC;
$gray-400:#E8E8E8;
$grey-200:#F6F6F6;
$gray-100:#FBFBFB;

$Success-100:#C6F0DF;
$Success-500:#6ACCA4;
$success-700:#48BA8C;


$info-500:#78B6FA;

$warning-100:#FFE9B3;
$warning-500:#FFCA4E;
$warning-900:#F5AC00;

$danger-500:#FF5A67;
