* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 1740px;
  max-width: 100%;
  font-family: sans-serif;
  margin: auto;
}

li, ul, ol {
  list-style: none;
  text-decoration: none;
}

input:focus {
  outline: none;
}

input {
  border: none;
}

a {
  cursor: pointer;
}

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 140px;
  background-color: #261E27;
}

.container {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.menu {
  width: 60px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #413A42;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 380px;
  height: 48px;
  border-radius: 12px;
  background-color: #413A42;
}
.search input {
  direction: rtl;
  padding-left: 150px;
  background-color: #413A42;
}
.search input::-moz-placeholder {
  text-align: right;
  color: #908C91;
}
.search input:-ms-input-placeholder {
  text-align: right;
  color: #908C91;
}
.search input::placeholder {
  text-align: right;
  color: #908C91;
}
.search input:focus {
  color: #908C91;
}
.search svg {
  margin-right: 16px;
}

.name {
  cursor: pointer;
  width: 152px;
  height: 48px;
  color: #ECECEC;
  border-radius: 12px;
  background-color: #413A42;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.name span {
  font-size: 14px;
  line-height: 22.4px;
}
.name .space-line {
  width: 0.1px;
  height: 22px;
  background-color: #ECECEC;
}

.basket {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #413A42;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13PX;
}

.right-navbar {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  color: #ECECEC;
  position: relative;
  cursor: pointer;
  top: 20px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.index a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.up-section {
  direction: rtl;
}

.badge {
  cursor: pointer;
  background-image: linear-gradient(#FDFBFC 100%, #FAF1FF 100%);
  height: 47px;
  padding: 12px 40px;
  color: #767177;
  font-weight: 400;
  font-size: 14px;
  Line-height: 22.4px;
}
.badge :last-child {
  color: #261E27;
  font-size: 14px;
  Line-height: 22.4px;
  font-weight: bold;
}

.section-kadoxa {
  background-image: linear-gradient(to left, #ECFBFD 0%, #FDFBFC 51.56%, #FAF1FF 100%);
  height: 765px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  direction: rtl;
  padding-right: 60px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.right-section {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
  cursor: pointer;
}
.slide img {
  border-radius: 12px;
  width: 100px;
  height: 100px;
}
.slide :first-child {
  margin-bottom: 25px;
}
.slide :last-child {
  margin-top: 25px;
}

.image-right-section img {
  position: relative;
  width: 581px;
  height: 581px;
  border-radius: 12px;
}

.svg-image {
  cursor: pointer;
  position: absolute;
  z-index: 20;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 15px 0 0;
}
.svg-image svg {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 12px;
}

.left-section {
  direction: rtl;
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.left-section h2 {
  font-style: bold;
  color: #261E27;
  font-size: 28px;
  line-height: 44.8px;
  text-align: right;
}

.star-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: start;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 31px;
  background-color: #F6F6F6;
  border-radius: 8px;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 31px;
  border-radius: 8px;
  background-color: #F6F6F6;
}

.text-pallet :first-child {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
}

.pallet {
  -moz-column-gap: 15px;
       column-gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
}
.pallet div {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.glass {
  border: 1px solid grey;
}

.green {
  position: relative;
  background-color: #6ACCA4;
}
.green svg {
  position: absolute;
  right: 6px;
  top: 6px;
}

.blue {
  background-color: #78B6FA;
}

.yellow {
  background-color: #FFCA4E;
}

.pink {
  background-color: #FF5A67;
}

.text-size :first-child {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
}

.box-sizing {
  -moz-column-gap: 15px;
       column-gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: right;
}
.box-sizing div {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #ECECEC;
  border-radius: 8px;
}
.box-sizing div span {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(4px);
  color: #5B555C;
}

.details {
  margin-top: 2%;
  color: #261E27;
}
.details :first-child {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
  color: #5B555C;
}
.details div {
  padding-top: 10px;
}

.materials {
  transform: translateX(40px);
}
.materials :last-child {
  color: #261E27;
  font-size: 14px;
  line-height: 22.4px;
}

.price-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.tag button {
  cursor: pointer;
  width: 200px;
  height: 56px;
  border-radius: 12px;
  background-color: #EC838F;
  color: #FFFFFF;
  flex-direction: row-reverse;
  border: none;
  font-size: 14px;
  line-height: 24px;
  font-family: sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.tag svg {
  padding-right: 7px;
}

.offer :first-child {
  margin-left: 5px;
  color: #ABA8AC;
  font-size: 16px;
  line-height: 25.6px;
  font-style: bold;
}
.offer div {
  width: 32px;
  height: 20px;
  background-color: #EC838F;
  color: #ffffff;
  border-radius: 4px;
  Font-family: IRANSansXFaNum;
  Font-style: Bold;
  Font-size: 16px;
  Line-height: 22px;
  font-weight: 500;
}

#line {
  z-index: 30;
  width: 50px;
  height: 1px;
  background-color: #ABA8AC;
  transform: translateY(15px);
}

.price-span {
  font-weight: 700;
  font-size: 28px;
  color: #261E27;
}

.description {
  height: 572px;
  padding: 0 50px 0 50px;
  direction: rtl;
  background-color: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
}

.description-commodity {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.commodity {
  font-size: 18px;
  font-weight: bold;
}

.lorem-description {
  color: #5B555C;
  font-size: 14px;
  line-height: 22px;
}

.underline {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #EC838F;
  margin-top: 5px;
}

.public-commodity {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.public-title {
  display: flex;
  flex-direction: column;
}

.occasion-commodity {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.occasion-lorem {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.occasion-lorem span {
  padding: 5px 10px 5px 10px;
  text-align: center;
  border: 1px solid #5B555C;
  border-radius: 33px;
  color: #5B555C;
  font-size: 14px;
  line-height: 22px;
}
.occasion-lorem :first-child span {
  width: 215px;
  height: 32px;
}
.occasion-lorem :last-child span {
  width: 144px;
  height: 32px;
}

.products {
  position: relative;
  height: 586.4px;
  background-color: #F2F4F5;
}

.cards-products {
  height: 442.4px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 500;
}
.cards img {
  max-width: 100%;
  border-radius: 16px;
  width: 262px;
  height: 262px;
}

.similar-product {
  font-size: 24px;
  line-height: 38.4px;
  font-weight: 700;
  display: flex;
  justify-content: end;
  position: relative;
  top: 35px;
  right: 35px;
}

.user {
  height: 573px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 0px 60px 0px 60px;
}

.view-right {
  direction: rtl;
  margin-bottom: 14%;
}

.view-user {
  margin-bottom: 8%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}

.star-user {
  width: 251px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: right;
  gap: 10px;
  background-color: #fafafa;
}
.star-user span {
  display: flex;
  text-align: right;
}

.score {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #5B555C;
}
.score :first-child {
  margin-bottom: 4px;
}

.number {
  width: 69px;
  height: 46px;
  background-color: #C6F0DF;
  gap: 10px;
  border-radius: 8px;
}
.number span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 51px;
  color: #48BA8C;
}

.new {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin-top: 30px;
}
.new button {
  width: 236px;
  height: 48px;
  background-color: #FCCED4;
  color: #EB586A;
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border: none;
  outline: none;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 10px;
}

.view-left-box1 {
  width: 1044px;
  height: 131px;
  direction: rtl;
  border: 1px solid #FFCA4E;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 15px;
}

.view-left-box2 {
  width: 1044px;
  height: 131px;
  direction: rtl;
  border: 1px solid #ECECEC;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 15px;
}
.view-left-box2 .date {
  transform: translateX(-145px);
}

.view-left-box3 {
  width: 1044px;
  height: 131px;
  direction: rtl;
  border: 1px solid #ECECEC;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 15px;
}
.view-left-box3 .date {
  transform: translateX(-70px);
}

.name-comment {
  gap: 10px;
  display: flex;
}
.name-comment :first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.buyer {
  width: 44px;
  height: 24px;
  background-color: #FCCED4;
  color: #EB586A;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wait {
  width: 78px;
  height: 24px;
  background-color: #FFE9B3;
  color: #F5AC00;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  margin-right: 48%;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.lorem-user {
  width: 996px;
  height: 45px;
  font-style: normal;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.call-us {
  height: 64px;
  background-color: #F6F6F6;
  padding: 0px 90px 0px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.call-us div {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #261E27;
}

.call :first-child {
  margin-left: 15px;
}
.call :last-child {
  color: #ED6F7E;
}

.up-retern {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.up-retern svg {
  width: 32px;
  height: 32px;
  background-color: #E8E8E8;
  border-radius: 12px;
  padding: 4px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #FBFBFB;
}

.kadoxa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 360px;
}

.about-kadoxa {
  width: 584px;
  height: 232px;
  text-align: right;
  padding: 24px, 0px, 24px, 72px;
  Font-size: 14px;
  Line-height: 28px;
  font-weight: 400;
}

.footer-kadoxa {
  display: flex;
}

.services {
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #5B555C;
  margin-bottom: 40px;
}
.services ul :first-child {
  font-size: 16px;
  font-style: bolder;
  line-height: 28px;
  font-weight: 700;
  color: #261E27;
}
.with-kadoxa {
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #5B555C;
  margin-bottom: 80px;
}
.with-kadoxa ul :first-child {
  font-size: 16px;
  font-style: bold;
  line-height: 28px;
  font-weight: 700;
  color: #261E27;
}

.buy-safe {
  width: 337px;
  height: 219px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 16px;
  font-style: bolder;
  line-height: 28px;
  font-weight: 700;
  color: #261E27;
}
.buy-safe span {
  margin-bottom: 10px;
}

.social {
  height: 64px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px 120px 0px 120px;
}
.social span {
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  color: #5B555C;
}

.logo-social {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

@media (max-width: 1000px) {
  body {
    max-width: 100%;
  }
  .index {
    display: none;
  }
  .search {
    direction: rtl;
    width: 60px;
  }
  .search input {
    display: none;
  }
  .name {
    width: 60px;
  }
  .name span {
    display: none;
  }
  .name .space-line {
    display: none;
  }
  .up-section {
    height: 1350px;
  }
  .section-kadoxa {
    height: 1350px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .section-kadoxa .left-section {
    display: grid;
    justify-content: center;
  }
  .commodity {
    display: flex;
    justify-content: center;
  }
  .underline {
    display: none;
  }
  .products {
    height: 1050px;
  }
  .similar-product {
    margin-bottom: 7%;
  }
  .cards-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .description {
    height: 800px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .description-commodity {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .public-commodity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .public-title {
    gap: 20px;
  }
  .occasion-commodity {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
  }
  .occasion-commodity .occasion-lorem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .user {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .lorem-user span {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }
  .date {
    display: none;
  }
  .view-left-box1, .view-left-box2, .view-left-box3 {
    width: 600px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 100vw;
  }
  .kadoxa {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 550px;
  }
  .footer-kadoxa {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .social span {
    font-size: 9px;
    padding-right: 10px;
  }
  .badge {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .menu {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */