* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  width: 1740px;
  max-width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
}

li, ul, ol {
  list-style: none;
  text-decoration: none;
}

input:focus {
  outline: none;
}

input {
  border: none;
}

a {
  cursor: pointer;
}

nav {
  height: 140px;
  background-color: #261E27;
}
@media (max-width: 375px) {
  nav {
    height: 95px;
  }
}

.nav-kadoxa {
  margin: 0 auto;
  position: relative;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.container {
  max-width: 95%;
}

.menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .menu {
    display: none;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 380px;
  height: 48px;
  border-radius: 12px;
  background-color: #413A42;
}
.search input {
  direction: rtl;
  padding-left: 150px;
  background-color: #413A42;
}
.search input::-moz-placeholder {
  text-align: right;
  color: #908C91;
}
.search input:-ms-input-placeholder {
  text-align: right;
  color: #908C91;
}
.search input::placeholder {
  text-align: right;
  color: #908C91;
}
.search input:focus {
  color: #908C91;
}
.search svg {
  margin-right: 16px;
}
@media (max-width: 375px) {
  .search {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  .search input {
    display: none;
  }
  .search svg {
    margin: 0;
  }
}

.name {
  cursor: pointer;
  width: 152px;
  height: 48px;
  color: #ECECEC;
  border-radius: 12px;
  background-color: #413A42;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.name span {
  font-size: 14px;
  line-height: 22.4px;
}
.name .space-line {
  width: 0.1px;
  height: 22px;
  background-color: #ECECEC;
}
@media (max-width: 375px) {
  .name {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  .name span {
    display: none;
  }
  .name .space-line {
    display: none;
  }
}

.logo-nav {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

.basket {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #413A42;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13PX;
}
@media (max-width: 375px) {
  .basket {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
}

.right-navbar {
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 375px) {
  .right-navbar {
    display: flex;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  margin-top: 60px;
  color: #ECECEC;
  cursor: pointer;
  top: 20px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.index a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.index span:hover {
  color: #EC838F;
}
@media (max-width: 375px) {
  .index {
    display: none;
  }
}

.up-section {
  direction: rtl;
}

.badge {
  cursor: pointer;
  background-image: linear-gradient(#FDFBFC 100%, #FAF1FF 100%);
}
.badge span {
  color: #261E27;
  font-size: 14px;
  Line-height: 22.4px;
  font-weight: bold;
  margin-right: 20px;
}
.badge span :first-child {
  color: #767177;
  font-weight: 400;
  font-size: 14px;
  Line-height: 22.4px;
}

.section-kadoxa {
  background-image: linear-gradient(to left, #ECFBFD 0%, #FDFBFC 51.56%, #FAF1FF 100%);
  height: 765px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  direction: rtl;
  padding-right: 60px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  overflow: hidden;
}
@media (max-width: 375px) {
  .section-kadoxa {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 20px;
  }
}

.right-section {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
  cursor: pointer;
}
.slide img {
  border-radius: 12px;
  width: 100px;
  height: 100px;
}
.slide :first-child {
  margin-bottom: 25px;
}
.slide :last-child {
  margin-top: 25px;
}
@media (max-width: 375px) {
  .slide {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-direction: row;
    transform: translateX(240px);
    padding-top: 20px;
  }
  .slide span {
    display: none;
  }
  .slide img {
    width: 250px;
    height: 250px;
  }
}

.image-right-section img {
  position: relative;
  width: 581px;
  height: 581px;
  border-radius: 12px;
}
@media (max-width: 375px) {
  .image-right-section {
    display: none;
  }
}

.svg-image {
  cursor: pointer;
  position: absolute;
  z-index: 20;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 15px 0 0;
}
.svg-image svg {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 12px;
}

.left-section {
  direction: rtl;
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.left-section h2 {
  font-style: bold;
  color: #261E27;
  font-size: 28px;
  line-height: 44.8px;
  text-align: right;
}
@media (max-width: 375px) {
  .left-section {
    padding-right: 0;
  }
}

.star-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: start;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 31px;
  background-color: #F6F6F6;
  border-radius: 8px;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 31px;
  border-radius: 8px;
  background-color: #F6F6F6;
}

.text-pallet :first-child {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
}

.pallet {
  -moz-column-gap: 15px;
       column-gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
}
.pallet div {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 8px;
}

.glass {
  border: 1px solid grey;
}

.green {
  position: relative;
  background-color: #6ACCA4;
}
.green svg {
  position: absolute;
  right: 6px;
  top: 6px;
}

.blue {
  background-color: #78B6FA;
}

.yellow {
  background-color: #FFCA4E;
}

.pink {
  background-color: #FF5A67;
}

.text-size :first-child {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
}

.box-sizing {
  -moz-column-gap: 15px;
       column-gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: right;
}
.box-sizing .medium-box {
  background-color: #EC838F;
}
.box-sizing div {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #ECECEC;
  border-radius: 8px;
}
.box-sizing div span {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(4px);
  color: #5B555C;
}

.details {
  margin-top: 2%;
  color: #261E27;
}
.details :first-child {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
  color: #5B555C;
}
.details div {
  padding-top: 10px;
}
@media (max-width: 375px) {
  .details {
    display: none;
  }
}

.materials {
  transform: translateX(40px);
}
.materials :last-child {
  color: #261E27;
  font-size: 14px;
  line-height: 22.4px;
}

.price-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 375px) {
  .price-tag {
    position: fixed;
    z-index: 30;
    display: flex;
    justify-content: center;
    -moz-column-gap: 25px;
         column-gap: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 10px;
  }
}

.price-svg {
  display: flex;
  align-items: center;
}

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.tag button {
  cursor: pointer;
  width: 200px;
  height: 56px;
  border-radius: 12px;
  background-color: #EC838F;
  color: #FFFFFF;
  flex-direction: row-reverse;
  border: none;
  font-size: 14px;
  line-height: 24px;
  font-family: sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.tag svg {
  padding-right: 7px;
}

.offer :first-child {
  margin-left: 5px;
  color: #ABA8AC;
  font-size: 16px;
  line-height: 25.6px;
  font-style: bold;
}
.offer div {
  width: 32px;
  height: 20px;
  background-color: #EC838F;
  color: #ffffff;
  border-radius: 4px;
  Font-family: IRANSansXFaNum;
  Font-style: Bold;
  Font-size: 16px;
  Line-height: 22px;
  font-weight: 500;
}

#line {
  z-index: 30;
  width: 50px;
  height: 1px;
  background-color: #ABA8AC;
  transform: translateY(15px);
}

.price-span {
  font-weight: 700;
  font-size: 28px;
  color: #261E27;
}

.description {
  padding: 30px 50px 30px 50px;
  direction: rtl;
  background-color: #fafafa;
}
@media (max-width: 375px) {
  .description {
    padding-top: 60px;
  }
}

.tabbar {
  position: absolute;
  width: 328px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(144, 140, 145, 0.07), 0px 4px 4px rgba(144, 140, 145, 0.05);
  border-radius: 16px;
  left: calc(50% - 164px);
}
.tabbar ul {
  position: relative;
  top: 4px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.tabbar a {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.tabbar .change {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 40px;
  background-color: #FFE9EB;
  border-radius: 16px;
  color: #ED6F7E;
}
@media (min-width: 376px) {
  .tabbar {
    display: none;
  }
}

.description-commodity {
  display: flex;
  justify-content: space-between;
}
.commodity {
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .commodity {
    display: none;
  }
}
.commodity::after {
  content: " ";
  position: absolute;
  width: 5%;
  height: 3px;
  background-color: #EC838F;
}

.lorem-description {
  color: #5B555C;
  font-size: 14px;
  line-height: 22px;
  width: 800px;
}
@media (max-width: 375px) {
  .lorem-description {
    text-align: justify;
  }
}

.public-commodity {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.public-title {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
}
.public-title div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 375px) {
  .public-title {
    display: grid;
    grid-template-columns: repeat(2, 160px);
  }
}

.occasion-commodity {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.occasion-lorem {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  width: 800px;
}
.occasion-lorem span {
  padding: 5px 10px 5px 10px;
  text-align: center;
  border: 1px solid #5B555C;
  border-radius: 33px;
  color: #5B555C;
  font-size: 14px;
  line-height: 22px;
}
.occasion-lorem :first-child span {
  width: 215px;
  height: 32px;
}
.occasion-lorem :last-child span {
  width: 144px;
  height: 32px;
}
@media (max-width: 375px) {
  .occasion-lorem {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
  }
  .occasion-lorem div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}

.products {
  background-color: #F2F4F5;
  padding: 20px 0 20px 0;
}

.cards-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 375px) {
  .cards-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 500;
}
.cards img {
  max-width: 100%;
  border-radius: 16px;
  width: 262px;
  height: 262px;
}

.similar-product {
  font-size: 24px;
  line-height: 38.4px;
  font-weight: 700;
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  .similar-product {
    display: flex;
    justify-content: center;
  }
}

.user {
  height: 573px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 0px 60px 0px 60px;
}
@media (max-width: 375px) {
  .user {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 0;
    align-items: flex-end;
  }
}

.view-right {
  direction: rtl;
  margin-bottom: 14%;
}
@media (max-width: 375px) {
  .view-right {
    padding: 0;
    display: grid;
    align-items: none;
    padding-right: 20px;
    padding-top: 20px;
  }
}

.view-user {
  margin-bottom: 8%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}

.star-user {
  width: 251px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: right;
  gap: 10px;
  background-color: #fafafa;
}
.star-user span {
  display: flex;
  text-align: right;
}

.score {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #5B555C;
}
.score :first-child {
  margin-bottom: 4px;
}

.number {
  width: 69px;
  height: 46px;
  background-color: #C6F0DF;
  gap: 10px;
  border-radius: 8px;
}
.number span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 51px;
  color: #48BA8C;
}

.new {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin-top: 30px;
}
.new button {
  width: 236px;
  height: 48px;
  background-color: #FCCED4;
  color: #EB586A;
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border: none;
  outline: none;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 10px;
}

.view-left {
  margin: 0 auto;
}

.view-left-box1 {
  direction: rtl;
  border: 1px solid #FFCA4E;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 15px;
}
@media (max-width: 375px) {
  .view-left-box1 {
    width: 328px;
  }
}

.view-left-box2 {
  direction: rtl;
  border: 1px solid #ECECEC;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 15px;
}
@media (max-width: 375px) {
  .view-left-box2 {
    width: 328px;
  }
}

.view-left-box3 {
  direction: rtl;
  border: 1px solid #ECECEC;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 15px;
}
@media (max-width: 375px) {
  .view-left-box3 {
    width: 328px;
    height: 160px;
  }
}

.name-comment {
  gap: 10px;
  display: flex;
}
.name-comment :first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.all-name {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
@media (max-width: 375px) {
  .all-name {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.first-line {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.secend-line {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.buyer {
  width: 44px;
  height: 24px;
  background-color: #FCCED4;
  color: #EB586A;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wait {
  width: 78px;
  height: 24px;
  background-color: #FFE9B3;
  color: #F5AC00;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  position: absolute;
  left: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 375px) {
  .date {
    position: absolute;
    left: 30px;
  }
}

.lorem-user {
  width: 996px;
  height: 45px;
  font-style: normal;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 375px) {
  .lorem-user {
    width: 296px;
    height: 84px;
    margin-bottom: 10px;
  }
}

.call-us {
  height: 64px;
  background-color: #F6F6F6;
  padding: 0px 90px 0px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.call-us div {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #261E27;
}
@media (max-width: 375px) {
  .call-us {
    padding: 0;
    display: flex;
    justify-content: space-around;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.call :first-child {
  margin-left: 15px;
}
@media (max-width: 375px) {
  .call :first-child {
    display: none;
  }
}
.call :last-child {
  color: #ED6F7E;
}

.up-retern {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
@media (max-width: 375px) {
  .up-retern .up {
    display: none;
  }
}
.up-retern svg {
  width: 32px;
  height: 32px;
  background-color: #E8E8E8;
  border-radius: 12px;
  padding: 4px;
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 375px) {
  .up-retern svg {
    margin-left: 0;
  }
}

footer {
  background-color: #FBFBFB;
}

.kadoxa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}
@media (max-width: 375px) {
  .kadoxa {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
  }
}

.with-servises {
  display: flex;
}
@media (max-width: 375px) {
  .with-servises {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.about-kadoxa {
  width: 584px;
  height: 232px;
  text-align: right;
  padding: 24px, 0px, 24px, 72px;
  Font-size: 14px;
  Line-height: 28px;
  font-weight: 400;
}
@media (max-width: 375px) {
  .about-kadoxa div {
    text-align: justify;
    padding-top: 15px;
  }
}
@media (max-width: 375px) {
  .about-kadoxa {
    padding-top: 15px;
    width: 328px;
    height: 221px;
    text-align: center;
  }
}

.footer-kadoxa {
  display: flex;
}
@media (max-width: 375px) {
  .footer-kadoxa {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 10px;
  }
}

.services {
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #5B555C;
  margin-bottom: 40px;
}
@media (max-width: 375px) {
  .services {
    text-align: center;
  }
}
.services ul :first-child {
  font-size: 16px;
  font-style: bolder;
  line-height: 28px;
  font-weight: 700;
  color: #261E27;
  margin-bottom: 10px;
}
.with-kadoxa {
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #5B555C;
  margin-bottom: 80px;
}
@media (max-width: 375px) {
  .with-kadoxa {
    text-align: center;
  }
}
.with-kadoxa ul :first-child {
  font-size: 16px;
  font-style: bold;
  line-height: 28px;
  font-weight: 700;
  color: #261E27;
  margin-bottom: 10px;
}

.buy-safe {
  width: 337px;
  height: 219px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 16px;
  font-style: bolder;
  line-height: 28px;
  font-weight: 700;
  color: #261E27;
}
.buy-safe span {
  margin-bottom: 10px;
}
@media (max-width: 375px) {
  .buy-safe span {
    text-align: center;
  }
}

.social {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px 120px 20px 120px;
}
.social span {
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  color: #5B555C;
}
@media (max-width: 375px) {
  .social span {
    font-size: 8px;
    line-height: 15.4px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 375px) {
  .social {
    display: flex;
    flex-direction: column;
  }
}

.logo-social {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}/*# sourceMappingURL=main.css.map */